#title {

  padding: 1em;
  color: white;
  background-color: lightpink;
  clear: left;
  text-align: center;
  border: 2px solid black;
}
.small-font.btn.btn-default {
  font-size: 10px;
  color: black;
}

.row {
  border: 1px solid black;}